absl-py==2.1.0
chex==0.1.88
contourpy==1.3.0
cycler==0.12.1
diffrax==0.6.1
equinox==0.11.10
etils==1.5.2
fonttools==4.56.0
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
jax==0.4.30
jaxlib==0.4.30
jaxtyping==0.2.36
kiwisolver==1.4.7
lineax==0.0.7
matplotlib==3.9.4
ml_dtypes==0.5.1
numpy==2.0.2
opt_einsum==3.4.0
optax==0.2.4
optimistix==0.0.10
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
scipy==1.13.1
six==1.17.0
toolz==1.0.0
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2025.1
zipp==3.21.0
